<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IPointService" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPointService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPointService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:667/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPointService" contract="PointServ.IPointService"
                name="NetTcpBinding_IPointService">
                <identity>
                    <userPrincipalName value="DESKTOP-ONNG40B\Alex Fedorus" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/667" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IPointService" contract="PointServ.IPointService"
                name="NetNamedPipeBinding_IPointService">
                <identity>
                    <userPrincipalName value="DESKTOP-ONNG40B\Alex Fedorus" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:669/met" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IPointService" contract="PointServ.IPointService"
                name="WSHttpBinding_IPointService">
                <identity>
                    <userPrincipalName value="DESKTOP-ONNG40B\Alex Fedorus" />
                </identity>
            </endpoint>
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Parcs.WCF.DaemonService">
                <endpoint address="" binding="netTcpBinding" contract="Parcs.WCF.IDaemonServiceAsync2">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:666/DaemonService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>